<div
  class="card w-100 mt-5"
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="card-header">
    <p>&#169; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Kamender Singh Gangwar</cite>
    </footer>
  </div>
</div>
